*.class


*.jar
*.war
*.ear

*.log
logs/

target/
.m2/repository/
pom.xml/tag
pom.xml.bak
pom.xml.vresionsBackup
pom.xml.next
releasse.properties
release-pom.xml
surefire-reports

.gradle/
build/
test-results/

.idea/
*.iml
*.ipr
*.iws



